
   
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 0;
  }

  .wrapper {
    margin:auto;
    width:60%;
    padding-top: 182px;
    padding-bottom: 182px;
}

body {
    background-image: url(img/1618954020_31-phonoteka_org-p-fon-neitralnogo-tsveta-31\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}

.header {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 46px;
    letter-spacing: 0.3px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    position: relative;
    font-weight: 600;
}

.tabs__item {
    border-radius: 50px;
    margin-right: 15px;
    width: 370px;
    height: 73px;
    background: linear-gradient(275.76deg, #FF384A 44.33%, #FF5463 98.56%), linear-gradient(0deg, #E5E5E5, #E5E5E5), #FFDEDE;
    font-size: 17px;
    color: #fff;
    padding-left: 22px;
    padding-right: 20px;
    padding-top: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    line-height: 20px;
}

.tabs :last-child {
    margin-right: 0;
}

.pick {
    height:170px;
    background: #FFDEDE;
    border-radius: 41px;
    color: #C32B23;
    vertical-align:top;
    padding-left: 26px;
    padding-right: 23px;
    padding-top: 20px;
    z-index: -1;
}

.video__preview {
    height:100%;
    position: relative;
    bottom: 67px; 
    border-radius: 15px;
    background-image: url(img/заглушка\ 4.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    background-size: cover;
}

.video__icon {
    width: 124px;
    height:93px;
    margin-top:277px;
}

.video {
    height:641px;
}

@media (max-width: 740px) {
    .header {
        font-size: 32px;
    }
}

@media (max-width: 1859px) {
    .tabs__item {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 18px;
        padding-top: 15px;
        line-height: 15px;
    }
    .wrapper {
        margin:auto;
        width:75%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 930px) {
    .tabs__item {
        font-size: 12px;
        padding-left: 18px;
        padding-right: 16px;
        padding-top: 18px;
        line-height: 12px;
    }
    .wrapper {
        margin:auto;
        width:80%;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

